<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Silex Bootstrap</h1>

        <ul>
            <li><a href="{{ path('example/index') }}">Home</a></li>
            <li><a href="/_debug/config">Config Debug</a></li>
        </ul>
        {% block content %}{% endblock %}
    </body>
</html>